{{define "main"}}
<p>На этой странице отображается статус всех интеграций.</p>
{{ if not .hasIntegration }}
<p>На данный момент у вас нет активных интеграций.</p>
{{ end }}

{{ if .k8sconfig }}
<p>Ваш k8s конфиг:</p>
<pre><code>{{ .k8sconfig }}</code></pre>
{{ end }}

<p>Ваш JWT (валиден в течение 24 часов):</p>
<pre><code>{{ .jwtToken }}</code></pre>
<p>Публичный ключ:</p>
<pre><code>{{ .jwtPublicKey }}</code></pre>

<p>Пример запроса к events-provider сервису</p>
<pre><code>
import requests

response = requests.get("http://events.k3scluster.tech/api/events", headers={
    "Authorization": f"Bearer {{ .jwtToken }}",
    "Content-Type": "application/json"
})
response.raise_for_status()

data = response.json()
print("Response from API:", data)
</code></pre>
{{end}}