{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>edu portal</title>
</head>
<body>
  <header>
    {{ if .user }}
    <nav>
      <a href="/">Главная</a>
      <a href="/status">Статус</a>
      <a href="/audit">Аудит лог</a>
      {{ if .user.IsStaff }}
      <a href="/users">Пользователи</a>
      {{ end }}
    </nav>
    {{ end }}
    <h1>edu portal</h1>
  </header>

  <main>
    {{ if .user }}
    {{ if eq .user.Status "new" }}
    <p class="notice">
      <strong>Аккаунт еще не подтвержден.</strong><br>
      Этот процесс может занять некоторое время. Пожалуйста, подождите.
    </p>
    {{ end }}
    {{ end }}
    {{template "main" .}}
  </main>

  <footer>
    <p>edu.k3scluster.tech</p>
  </footer>
</body>
</html>


{{end}}